---
import Registro from "./registro.astro";
import "../components/styles/form-styles.css"
export const prerender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Register</title>
	</head>
	<body>
		<h1 class="text-center">Register</h1>
	    <Registro>
	</body>
</html>
