---
---

<form id="formAstro" >
  
  <label>
    Username:
    <input type="text" name="username" id="username" class="inputSize block marginbottom-20"/>
    <small></small>
  </label>
  

  <label>
    Email:
    <input type="email" name="email" id="email" class="inputSize block"/>
    <small></small>
  </label>
  

  <label>
    Password:
    <input type="password" name="password" id="password" class="inputSize block"/>
    <small></small>
  </label>
  
  <div class="block marginBotton-20">
    <input type="checkbox" onclick="checkPass()">
    <p class="inline-block ">Show password</p>
  </div>

  <label>
    Confirm Password:
    <input type="password" name="confirmPassword" id="confirmPassword" class="inputSize block "/>
    <small></small>
  </label>
  
  <label>
    <input type="submit" value="Send" class="buttonSize btn-primary" />
  </label>
</form>

<script is:inline>
const userNameField = document.querySelector("[name=username]");
const emailField = document.querySelector("[name=email]");
const passwordField = document.querySelector("[name=password]");
const confirmPasswordField = document.querySelector("[name=confirmPassword]");

const validateEmptyField = (message, e) => {
  const field = e.target;
  const fieldValue = e.target.value;
  if (fieldValue.trim().length == 0) {
    field.classList.add("inputError");
    field.classList.remove("marginbottom-20");
    field.nextElementSibling.classList.add("block");
    field.nextElementSibling.classList.add("marginbottom-20");
    field.nextElementSibling.innerText = message;
  }else{
    field.classList.remove("inputError");
    field.classList.add("marginbottom-20");
    field.nextElementSibling.classList.remove("block");
    field.nextElementSibling.classList.remove("marginbottom-20");
    field.nextElementSibling.innerText = "";
  }
}

const validateEmailFormat = e => {
  const field = e.target;
  const fieldValue = e.target.value;
  const regex = new RegExp(/^[A-Za-z0-9_!#$%&'*+\/=?`{|}~^.-]+@[A-Za-z0-9.-]+$/);
  if (fieldValue.trim().length == 5 && !regex.test(fieldValue)) {
    field.classList.add("inputError");
    field.nextElementSibling.classList.add("block");
    field.nextElementSibling.innerText = "Please enter a valid email";
  }else{
    field.classList.remove("inputError");
    field.nextElementSibling.classList.remove("block");
    field.nextElementSibling.innerText = "";
  }
}
const validatePasswordConform = e => {
    const field = e.target;
    if (passwordField != confirmPasswordField || confirmPasswordField != passwordField) {
      field.classList.add("inputError");
      field.nextElementSibling.classList.add("block");
      field.nextElementSibling.innerText = "Password and Confirm Password does not match.";
    } else{
      field.classList.remove("inputError");
      field.nextElementSibling.classList.remove("block");
      field.nextElementSibling.innerText = "";
    }
}

userNameField.addEventListener("blur", (e) => validateEmptyField("Username is required", e));
emailField.addEventListener("blur", (e) => validateEmptyField("Email is required", e));
passwordField.addEventListener("blur", (e) => validateEmptyField("Password is required", e));
confirmPasswordField.addEventListener("blur", (e) => validateEmptyField("Confirm your password is required", e));

emailField.addEventListener("input", validateEmailFormat);
confirmPasswordField.addEventListener("input", validatePasswordConform);

</script>