---
---

<form id="formAstro">
  <label>
    Username:
    <input type="text" name="username" id="username" />
  </label>
  <span id="idName"></span>

  <label>
    Email:
    <input type="email" name="email" id="email" />
  </label>
  <span id="idEmail"></span>

  <label>
    Password:
    <input type="password" name="password" id="password"/>
  </label>
  <span id="idPass"></span>
  <input type="checkbox" onclick="checkPass()">
  <label>
    Confirm Password:
    <input type="password" name="confirmPassword" id="confirmPassword"/>
  </label>
  <span id="idConfirmPass"></span>
  <input type="submit" value="Send"  />
</form>

<script is:inline>
 document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("formAstro").addEventListener('submit', validarFormulario); 
});

function validarFormulario(evento) {
  evento.preventDefault();
  var username = document.getElementById('username').value;
  if(username.length == 0) {
    document.getElementById('idName').innerHTML = "Please enter Username.";
    return;
  }
  var email = document.getElementById('email').value;
  if (email.length < 6) {
    document.getElementById('idEmail').innerHTML = "Please enter Email Adress.";
    return;
  }
  var password = document.getElementById('password').value;
  var confirmPassword = document.getElementById('confirmPassword').value;
  if (password.length < 6) {
    document.getElementById('idPass').innerHTML = "Please enter Password.";
    return;
  }
  if (password != confirmPassword ) {
    document.getElementById('idConfirmPass').innerHTML = "Password and Confirm Password does not match.";
    return;
  } 
  
  this.submit();
}
function checkPass() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>