---
---

<form id="formAstro">
  <label>
    Username:
    <input type="text" name="username" id="username" class="inputSize block"/>
    <span id="idName" class="block marginbottom-20"></span>
  </label>
  

  <label>
    Email:
    <input type="email" name="email" id="email" class="inputSize block"/>
    <span id="idEmail" class="block marginbottom-20"></span>
  </label>
  

  <label>
    Password:
    <input type="password" name="password" id="password" class="inputSize block"/>
    <span id="idPass" class="block"></span>
  </label>
  
  <div class="block marginBotton-20">
    <input type="checkbox" onclick="checkPass()">
    <p class="inline-block ">Show password</p>
  </div>

  <label>
    Confirm Password:
    <input type="password" name="confirmPassword" id="confirmPassword" class="inputSize block"/>
    <span id="idConfirmPass" class="block "></span>
  </label>
  
  <input type="submit" value="Send"  />
</form>

<script is:inline>
 document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("formAstro").addEventListener('submit', validarFormulario); 
  document.getElementById("username").addEventListener('change', validarUser);
  document.getElementById("email").addEventListener('change', validarEmail);
  document.getElementById("password").addEventListener('change', validarPass);
  document.getElementById("confirmPassword").addEventListener('change', validarCPass);
});
function validarUser() {
  var username = document.getElementById('username').value;
  if(username.length == 0) {
    document.getElementById('idName').innerHTML = "Please enter Username.";
    return;
  }else{
    document.getElementById('idName').innerHTML = "";
  }
}
function validarEmail(){
  var email = document.getElementById('email').value;
  if (email.length < 6) {
    document.getElementById('idEmail').innerHTML = "Please enter Email Adress.";
    return;
  }else{
    document.getElementById('idEmail').innerHTML = "";
  }
}
function validarPass(){
  var password = document.getElementById('password').value;
  if (password.length < 6) {
    document.getElementById('idPass').innerHTML = "Please enter 6 or more characters.";
    return;
  }else{
    document.getElementById('idPass').innerHTML = "";
  }
}
function validarCPass(){
  
  var password = document.getElementById('password').value;
  var confirmPassword = document.getElementById('confirmPassword').value;
  if (password != confirmPassword ) {
    document.getElementById('idConfirmPass').innerHTML = "Password and Confirm Password does not match.";
    return;
  } else{
    document.getElementById('idConfirmPass').innerHTML = "";
  }
}
function validarFormulario(evento) {
  evento.preventDefault();
  validarUser();
  
  this.submit();
}
function checkPass() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>