
#formAstro{
    width: 100%;
    margin: 0 auto;
    min-width: 307px;
    max-width: 307px;
}

.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.marginTop-20{
    margin-top: 20px;
}
.marginbottom-20{
    margin-bottom: 20px;
}
.marginbottom-30{
    margin-bottom: 30px;
}
.marginbottom-40{
    margin-bottom: 40px;
}

span{
    color: red;
    font-size: 14px;
    font-weight: 400;
}
input{
    border: 2px solid;
    border-color: lightgray;
    border-radius: 3px;
}

input .inputError, input .inputError:focus{
    border-color: lightcoral !important;
    outline: lightcoral;
    
}
input .inputSuccess, input .inputSuccess:focus{
    border-color: lightgreen !important;
    outline: lightgreen;
}
.inputSize{
    width: 300px;
    height: 30px;
}
.buttonSize{  
    height: 35px;
    width: 100%;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}