
#formAstro{
    width: 100%;
    margin: 0 auto;
    min-width: 307px;
    max-width: 307px;
}

.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.marginTop-20{
    margin-top: 20px;
}
.marginbottom-20{
    margin-bottom: 20px;
}
.marginbottom-30{
    margin-bottom: 30px;
}
.marginbottom-40{
    margin-bottom: 40px;
}

small{
    color: red;
    font-size: 14px;
    font-weight: 400;
}

input[type=text], input[type=password],input[type=email]{
    border: 2px solid;
    border-color: lightgray;
    border-radius: 3px;
}

input[type=text]:focus-visible, input[type=password]:focus-visible, input[type=email]:focus-visible, 
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
    border: 2px solid lightblue !important;
    background-color: white !important;
    outline: lightblue;
}
.inputError{
    border-color: lightcoral !important;
    box-shadow: 0 0 10px lightcoral;
}
.inputSuccess{
    border-color: lightgreen ;
}
.inputSize{
    width: 300px;
    height: 30px;
}
.buttonSize{  
    height: 35px;
    width: 100%;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}