#formAstro
    .inputSize{
        width: 100%;
        height: 30px;
    }
    #formAstro{
        width: 300px;
        margin: 0 auto;
       
    }

span{
    color: red;
    font-size: 14px;
    font-weight: 400;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.marginTop-20{
    margin-top: 20px;
}
.marginbottom-20{
    margin-bottom: 20px;
}